# Dependencies
node_modules/

# Build
dist/
build/

# Environment
.env
.env.local

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Uploads
uploads/

**/node_modules
**/dist
**/build
**/.env
**/.env.local
**/*.log
**/.vscode
**/.idea
**/.DS_Store
**/uploads
